<div class="event" #eventDiv>
  <div class="top">
    <div class="imgBx">
      <img src="assets/images/user.jpg" alt />
    </div>
    <h4>
      {{ event.title }}
    </h4>
  </div>
  <div class="flyerFront">
    <img
      [ngSrc]="event.flyerFront"
      width="365"
      height="205"
      (error)="imageError(eventDiv)"
      [priority]="event.priority"
      alt
    />
  </div>
  <div class="venue">
    <div class="icon">
      <mat-icon color="primary">location_on</mat-icon>
    </div>
    <div>{{ event.venue.name }}</div>
  </div>
  <div class="time">
    Start: {{ event.startTime }} • End: {{ event.endTime }}
  </div>
  <div class="buttons">
    <button mat-button color="primary">
      <mat-icon>add</mat-icon> Add To Cart
    </button>
    <a
      mat-button
      color="primary"
      [href]="event.venue.direction"
      target="_blank"
    >
      <mat-icon class="material-icons-outlined">map-outline</mat-icon>
      Open Google Map
    </a>
  </div>
</div>
