<section>
  <app-events-header
    [title]="headerTitle"
    [startDate]="startDate"
    [endDate]="endDate"
    [backArrow]="cartMode ? '/' : ''"
  ></app-events-header>

  @for (
    eventsPackage of eventsPackages;
    track eventsPackageIndex;
    let eventsPackageIndex = $index
  ) {
    <div class="events">
      <div class="date">{{ eventsPackage.date }}</div>
      <div class="list">
        @for (
          event of eventsPackage.events;
          track event._id;
          let eventsIndex = $index
        ) {
          <app-event
            [event]="event"
            [cartMode]="cartMode"
            (imageErrorEvent)="removeEvent(eventsPackageIndex, eventsIndex)"
            (addToCartEvent)="addToCart(eventsPackageIndex, eventsIndex)"
            (removeFromCartEvent)="
              removeFromCart(eventsPackageIndex, eventsIndex)
            "
          ></app-event>
        }
      </div>
    </div>
  }

  @if (!eventsPackages.length && originalEventsPackages.length) {
    <app-not-found
      imgSrc="no-results.png"
      text="No events found matching your search"
    ></app-not-found>
  }

  @if (!eventsPackages.length && !originalEventsPackages.length && cartMode) {
    <app-not-found
      imgSrc="empty-cart.png"
      text="Your events cart is empty"
    ></app-not-found>
  }
</section>
