<section>
  <app-events-header
    title="public events"
    [startDate]="originalEventsPackages[originalEventsPackages.length - 1].time"
    [endDate]="originalEventsPackages[0].time"
  ></app-events-header>
  @for (
    eventsPackage of eventsPackages;
    track eventsPackageIndex;
    let eventsPackageIndex = $index
  ) {
    <div class="events">
      <div class="date">{{ eventsPackage.date }}</div>
      <div class="list">
        @for (
          event of eventsPackage.events;
          track event._id;
          let eventsIndex = $index
        ) {
          <app-event
            [event]="event"
            (imageErrorEvent)="removeEvent(eventsPackageIndex, eventsIndex)"
            (addToCartEvent)="addToCart(eventsPackageIndex, eventsIndex)"
          ></app-event>
        }
      </div>
    </div>
  }

  @if (!eventsPackages.length && !loading) {
    <div class="not-found">
      <div class="imgBx">
        <img src="assets/images/no-results.png" width="128" />
      </div>
      <div class="text">No events found matching your search</div>
    </div>
  }
</section>
