section {
  padding: 20px;
  margin: auto;
  width: 740px;
  @media (max-width: 795px) {
    width: calc(100% - 40px);
  }
  .events {
    .date {
      margin: 20px 0;
      color: #3f51b5;
      font-weight: 500;
    }
    .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      app-event {
        width: calc(50% - 5px);
        margin: 5px 0;
        @media (max-width: 795px) {
          width: 100%;
        }
      }
    }
  }
}
